$cream: #eae3d8;
$red: #c47865;
$green: #85987a;
$grey: #6e686a;

$colors: ($cream, $red, $green, $grey);

$maxWidthDesktop: 1024px;
$maxWidthMobile: 100%;

$breakpoint: 1024px;
$desktop: "(min-width: #{$breakpoint})";

$iphone8Height: 670px;
$biggerThanIphone8: "(min-height: #{$iphone8Height})";

$h1FontSizeMobile: 3rem;
$h1FontSizeBigMobile: 4rem;
$h1FontSize: 5rem;
$h1FontWeight: 700;

$fontSizeMobile: 1rem;
$fontSize: 1.3rem;
$fontWeight: 400;

@mixin colorize {
  @for $i from 1 through length($colors) {
    &:nth-child(#{length($colors)}n + #{$i}) {
      background: nth($colors, $i);

      .item:hover {
        background: nth($colors, length($colors) - $i + 1);
      }
    }
  }
}
