
$cream: #eae3d8;
$red: #c47865;
$green: #85987a;
$grey: #6e686a;

$colors: ($cream, $red, $green, $grey);

@mixin colorize {
  @for $i from 1 through length($colors) {
    &:nth-child(#{length($colors)}n + #{$i}) {
      background: nth($colors, $i);

      .item:hover {
        background: nth($colors, length($colors) - $i + 1);
      }
    }
  }
}
