@import "../../sass/constants.scss";

.wrapper,
.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5,
.wrapper6,
.wrapper7,
.wrapper8 {
  width: 100%;
}

.wrapper {
  background: $cream;
}

.wrapper2 {
  background: white;
}

.wrapper3 {
  background: $cream;
}
.wrapper4 {
}
.wrapper5 {
  background: $cream;
}
.wrapper6 {
}
.wrapper7 {
  background: $cream;
}

.wrapper8 {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $red;
  color: $cream;
  font-family: "Noto Serif";
}
