@import "./sass/constants.scss";

:root {
  --app-height: 100%;
}

body {
  background: $cream;
  overflow: hidden;
}

* {
  font-family: "Noto Serif";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Jost";
}

.app {
  max-width: 60%;
  width: 100%;

  margin: 0 auto;
  padding: 30px 0;
}
